<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Nyaa</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Upload', new_torrent_path %></li>
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'RSS', '#' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= fa_icon 'user fw', text: 'Guest' %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#"><%= fa_icon 'sign-in fw', text: 'Login' %></a>
            </li>
            <li>
              <a href="#"><%= fa_icon 'pencil fw', text: 'Register' %></a>
            </li>
          </ul>
        </li>
      </ul>

      <%= form_tag '/', method: :get, class: 'navbar-form navbar-right form' do %>
        <div class="input-group search-container">
          <div id="navFilter-criteria" class="input-group-btn nav-filter">
            <select class="selectpicker show-tick" title="Filter" data-width="120px" name="f" >
              <option class="bs-title-option" value="">Filter</option>
              <option value="0" title="No filter" selected="">No filter</option>
              <option value="1" title="No remakes">No remakes</option>
              <option value="2" title="Trusted only">Trusted only</option>
            </select>
          </div>

          <div id="navFilter-category" class="input-group-btn nav-filter">
            <select class="selectpicker show-tick" title="Category" data-width="130px" name="c">
              <option class="bs-title-option" value="">Category</option>
              <option value="0_0" title="All categories" selected="">All categories</option>
            </select>
          </div>

          <%= text_field_tag :q, '', placeholder: 'Search...', class: 'form-control search-bar' %>
          <div class="input-group-btn search-btn">
            <button class="btn btn-primary" type="submit">
              <%= fa_icon 'fw search' %>
            </button>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</nav>


